html {
    padding: 0;
    margin: 0; }
body {
    font-family: "helvetica neue", "helvetica", "arial", sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0; }
html, body {
  height: 100%;
  overflow: hidden; }
input {
    font-family: "helvetica neue", "helvetica", "arial", sans-serif;
    font-size: 14px; }
.visible {
    opacity: 1 !important;
    display: block !important; }
#header,
#result-header {
    margin: 0;
    border-top: 1px solid #f7f0ef;
    border-bottom: 1px solid #939ea6;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3dde5), to(#b9c0cd));
    padding: 10px; }
#header input {
    color: #ccc;
    padding: 8px 14px 8px 28px;
    background: #fff url(../images/icon-from-light@2x.png) 12px 12px no-repeat;
    background-size: 13px 10px;
    width: 100%;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #afafaf;
    border-top: 1px solid #888686;
    border-radius: 17px; }
#header input:focus {
    color: #000; }
#to {
    background-image: url(../images/icon-to-light@2x.png) !important;
    margin: 8px 0 0 0; }
#to-container {
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    display: none; }


.info {
    background: url(../images/ajax-loader.gif) 50% 15px no-repeat;
    text-align: center;
    padding: 60px 15px 15px 15px; }


#result {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 4s ease;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    background: rgba(0,0,0,0.7); }
#result .content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 6px;
    background: #fff; }
#result-header {
    border-radius: 6px 6px 0 0;
}
#result-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
#result-header li {
    position: relative;
    margin: 0;
    color: #7f7f7f; }
#result-header li img {
    position: relative;
    top: 3px; }
#result-header li span {
    font-weight: bold;
    font-size: 18px;
    color: #333; }
#result-footer {
    background: #fff;
    position: absolute;
    border-radius: 0 0 6px 6px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: right;
    border-top: 1px solid #bebebe;
    padding: 10px; }
#result-footer a {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid #666;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
    background: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), to(#929292)); }
#result-footer a#close-results {
    border-color: #333333;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef7a82), to(#ec1013)); }


#from-list,
#to-list {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  display: none; }
#default-list {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  display: none;
  -webkit-overflow-scrolling: touch;
  overflow: scroll; }
#result-list {
  -webkit-overflow-scrolling: touch;
  overflow: scroll; }


span.icon {
  display: inline-block;
  border-radius: 2px;
  background: black;
  padding: 2px;
  font-size: 8px;
  font-weight: bold;
  position: relative;
  top: -2px;
  margin: 0 0 0 3px;
}
span.icon span {
  display: inline-block;
  background: #fff;
  padding: 0px 3px;
  border-radius: 10px;
}
span.metro {
  background: #74c239;
}
span.metro.red {
  background: #f55b0d;
}
span.metro.blue {
  background: #1b348e;
}
span.bus {
  background: #bd1129;
  color: #bd1129;
}
span.bus.urban {
  background: #005ca6;
  color: #005ca6;
}


/* LISTS */
.list {
  overflow: hidden;
}
.list h1 {
    font-size: 14px;
    color: #fff;
    background: #b5bdc3;
    background: -webkit-gradient(linear, left top, left bottom, from(#98a5af), to(#b5bdc3));
    border-bottom: 1px solid #95a0a8;
    border-top: 1px solid #95a0a8;
    margin: -1px 0 0 0; }
.list h1 span {
    border-top: 1px solid #a8b4bc;
    padding: 3px 14px; 
    display: block; }
.list ul {
    font-weight: bold;
    margin: 0;
    padding: 0;
    list-style-type: none; }
.list li {
    border-bottom: 1px solid #e0e0e0; }
.list li:last-child {
    border: 0; }
.list li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 14px; }
.list .time {
    font-weight: 300;
    font-size: 18px; }
.list .time strong {
    font-weight: bold; }
.list .duration {
    font-size: 18px;
    font-weight: 300;
    color: #7f7f7f; }
.list .connections {
    font-weight: normal;
    color: #7f7f7f; }