<html>
    <head>
        <title>SL(im)</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/static/css/screen.css">
    </head>
    <body>
        <form id="header">
            <div id="from-container"><input type="text" name="from" id="from" value="Från"></div>
            <div id="to-container"><input type="text" name="to" id="to"></div>
        </form>
        <div id="from-selection"></div>
        <div id="to-selection"></div>
        <script src="/static/js/slim.js" type="text/javascript"></script>
    </body>
</html>
